body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  margin: 0 20px;
}
#navTop {
  background-color: #99003d;
  border-color: #99003d;
  color: #f2f2f2;
}
#mainPoint {
  color: #f2f2f2;
}
#navbarsExampleDefault {
  color: #e6e6e6;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
#bookPile {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 200px;
}
#home {
  color: #e6e6e6;
}
#characterTips {
  color: #e6e6e6;
}
#storyStructure {
  color: #e6e6e6;
}
#randomTips {
  color: #e6e6e6;
}
#otherWebsites {
  color: #e6e6e6;
}
#convo {
  display: flex;
  margin: 0 auto;
  border-radius: 200px;
}
