body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  margin: 0 20px;
}
#navTop {
  background-color: #99003d;
  border-color: #99003d;
  color: #f2f2f2;
}
#mainPoint {
  color: #f2f2f2;
}
#navbarsExampleDefault {
  color: #e6e6e6;
}
#bookPile {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 200px;
}
#home {
  color: #e6e6e6;
}
#characterTips {
  color: #e6e6e6;
}
#storyStructure {
  color: #e6e6e6;
}
#randomTips {
  color: #e6e6e6;
}
#otherWebsites {
  color: #e6e6e6;
}
#h1 {
  margin: 35px;
}
#p {
  margin: 35px;
}
