body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  margin: 0 20px;
}
#navTop {
  background-color: #99003d;
  border-color: #99003d;
  color: #f2f2f2;
}
#mainPoint {
  color: #f2f2f2;
}
#navbarsExampleDefault {
  color: #e6e6e6;
}
.collapse-navbar-collapse {
  display: inline;
}
  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
     .collapse-navbar-collapse { display: none;}
  }

#topImage {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-radius: 200px;
}
#home {
  color: #e6e6e6;
}
#characterTips {
  color: #e6e6e6;
}
#storyStructure {
  color: #e6e6e6;
}
#randomTips {
  color: #e6e6e6;
}
#otherWebsites {
  color: #e6e6e6;
}

.mobileShow {
  display: none;
}

  /* Smartphone Portrait and Landscape */
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {
      .mobileShow {display: inline;}
  }
  .hamburger {
      position: relative;
      display: inline-block;
      width: 1.25em;
      height: 0.8em;
      margin-right: 0.3em;
      border-top: 0.2em solid #fff;
      border-bottom: 0.2em solid #fff;
  }
